<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>hello</h1>
  <form method="post" action="/users">
    <input type="text" name="redirectURL" placeholder="http//example.com">
     <button type="submit">click</button> 
  </form>
</body>
</html>
